
<div class="grid-container lableHeaderCol mb-15">
    <div class="song-grid-item text-center">
        <span class="pageHeading appFont">Song List</span>
    </div>
    <div class="btn-grid-item  text-right">
        <div class="dispInlineBlock">
            <button class="addBtnStyle appFont" type="button" (click)="navigatetoAddSong()">Add Song</button>
        </div>
    </div>
</div>

<div class="grid-container grid-6-column appFont">
   <!--  <div *ngFor=" let songs of songsList$ | async">
        <span>{{songs.name}}</span>
    </div> -->
    <div class="grid-table-item">
        <div class="tableDiv">
            <table class="w-100 appFont">
                <tbody>
                    <tr *ngFor=" let songs of songsList$ | async;">
                        <td>
                            <div class="posRel">
                                <div class="dispInlineBlock">
                                    <img src="../../../assets/images/no-image.png" style="height: 60px;width: 80px;" alt="">
                                    <!-- <img [src]="songs.imageUrl" style="height: 60px;width: 80px;" alt=""> -->
                                </div>
                                <div class="dispInlineBlock ml-5 tableLbls">
                                    <span class="songNameStyle"> {{songs.name}}</span>
                                </div>

                                <div class="actionBtnDiv">
                                    <div class="dispInlineBlock ">
                                        <button class="editBtn appFont" (click)="editSongDetail(songs.id)" type="button">Edit</button>
                                    </div>
                                    <div class="dispInlineBlock ml-5">
                                        <button class="deleteBtn appFont" (click)="deleteSong(songs.id)" type="button">Delete</button>
                                    </div>
                                </div>

                            </div>
                        </td>
                    </tr>
                  <!--   <tr>
                        <td>
                             <div class="posRel">
                                 <div class="dispInlineBlock">
                                     <img src="../../../assets/images/guitar.jfif" style="height: 60px;width: 80px;" alt="">
                                 </div>
                                 <div class="dispInlineBlock ml-5 tableLbls">
                                     <span class="songNameStyle"> test music tone.mp3</span>
                                 </div>
                             </div>
                         </td>
                    </tr> -->
                </tbody>
                
            </table>
        </div>

    </div>

</div>