<div class="grid-container mb-15 grid-4-column appFont border-bot">
    <div class="grid-item-1">
        <!-- <div class=""> -->
            <div class=" grid-container mb-0px  form-element grid-3-column">
                <div class="grid-item-1-1 text-right dispInlineBlock">
                     <label >Filter</label>
                </div>
                 
                 <div class="grid-item-1-2">
                    <div class=" ml-5 dispInlineBlock">
                        <img src="../../../assets/images/filter.png" style="height: 20px;" alt="">
                    </div>
                 </div>
                 <div class="grid-item-1-3">
                    <div class="dispInlineBlock">
                        <select name="filter" class="ml-5">
                            <option value="all">All Songs</option>
                            <option value="party">Party Songs</option>
                            <option value="old">Old Songs</option>
                            <option value="love">Love Songs</option>
                            <!-- <option value="rock">Rock Songs</option> -->
                        </select>
                    </div>
                 </div>
             </div>
        <!-- </div> -->
    </div>
    <div class="grid-item-2">
        <div class="form-element mb-0px text-center">
            <input type="text" class="w-80" placeholder="Search song">
        </div>
    </div>
    
</div>

<div class="grid-container grid-6-column appFont">
    <div class="grid-table-item">
        <div class="tableDiv">
            <table class="w-100 appFont">
                <tbody>
                    <tr>
                        <td>
                            <div class="posRel">
                                <div class="dispInlineBlock">
                                    <img src="../../../assets/images/background.jfif" style="height: 60px;width: 80px;" alt="">
                                </div>
                                <div class="dispInlineBlock ml-5 tableLbls">
                                    <span class="songNameStyle"> sample music tone.mp3</span>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                             <div class="posRel">
                                 <div class="dispInlineBlock">
                                     <img src="../../../assets/images/guitar.jfif" style="height: 60px;width: 80px;" alt="">
                                 </div>
                                 <div class="dispInlineBlock ml-5 tableLbls">
                                     <span class="songNameStyle"> test music tone.mp3</span>
                                 </div>
                             </div>
                         </td>
                    </tr>
                </tbody>
                
            </table>
        </div>

    </div>

</div>