<div class="grid-container grid-6-column headerDiv">
       <div class="grid-logo-item">
            <div class="logoImgDiv">
                <img src="../../../assets/images/music.jpg" class="logoImg" alt="">
            </div>
       </div> 
       <div class="grid-item-1">
            <div class="headerLink text-right">
                <a class="appFont" routerLink="/app/home"  routerLinkActive="active-link">Home</a>
            </div>
       </div>  
       <div class="grid-item-2">
            <div class="headerLink text-center">
                <a class="appFont" routerLink="/login"  routerLinkActive="active-link">Login</a>
            </div>
       </div>     
</div>