<div class="grid-container mb-15 grid-6-column headerDiv">
       <div class="grid-logo-item">
            <div class="logoImgDiv">
                <img src="../../../assets/images/music.jpg" class="logoImg" alt="">
            </div>
       </div>
       <div class="grid-theme-item">
            <div class="themeDiv">
                <input type="radio" id="dark-theme" [(ngModel)]="themeModel" name="theme" [value]="'dark'" (click)="changeTheme('dark');" [checked]="themeModel">
                <label for="dark-theme" class="appFont">Dark Theme</label>
                <input type="radio" id="light-theme" [(ngModel)]="themeModel" name="theme" [value]="'light'" (click)="changeTheme('light');" [checked]="themeModel">
                <label for="light-theme" class="appFont">Light Theme</label><br>
            </div>
       </div> 
       <div class="grid-item-1">
            <div class="headerLink text-right">
                <a class="appFont" routerLink="/app/home"  routerLinkActive="active-link">Home</a>
            </div>
       </div> 
       
       <div class="grid-item-1" *ngIf=" isAuthenticatedFlag == 'true'">
            <div class="headerLink text-right">
                <a class="appFont" routerLink="/app/song-management"  routerLinkActive="active-link">Song Management</a>
            </div>
       </div> 
       
       <div class="grid-item-2">
            <div class="headerLink text-center">
                <a class="appFont pointer" *ngIf=" isAuthenticatedFlag == 'false'" routerLink="/login"  routerLinkActive="active-link">Login</a>
                <a class="appFont pointer" *ngIf=" isAuthenticatedFlag == 'true'" (click)="logOut()"  routerLinkActive="active-link">Logout</a>
            </div>
       </div>     
</div>