


<div class="grid-container lableHeaderCol mb-15">
    <div class="song-grid-item text-center">
        <a class=" appFont" routerLink="/app/song-management">Back to Song List</a>
    </div>

</div>

<div class="grid-container grid-6-column appFont">
  <div class="grid-form-item">
    <div class="songFormDiv" >
        <form action="" name="songForm" [formGroup]="songForm">
            <div class="grid-item">
                <div class="form-element text-center">
                    <h1 class=""  *ngIf="!dataUpdateFlag">Add Song</h1>
                    <h1 class=""  *ngIf="dataUpdateFlag">Update Song</h1>

                </div>
            </div>

            <div class="grid-item">
                <div class="form-element text-center">
                    <input type="text" class="w-72" name="name" formControlName="name" placeholder="Enter song name">
                    <div *ngIf="songForm.controls.name.invalid && (songForm.controls.name.dirty || songForm.controls.name.touched)"> 
                        <span class="errorMsg" *ngIf="songForm.controls.name.errors.required">Please enter song name</span>
                    </div>
                </div>
            </div>

            <div class="grid-item">
                <div class="form-element text-center">
                    <input type="text" class="w-72" name="name" formControlName="songUrl" placeholder="Enter song url">
                    <div *ngIf="songForm.controls.songUrl.invalid && (songForm.controls.songUrl.dirty || songForm.controls.songUrl.touched)"> 
                        <span class="errorMsg" *ngIf="songForm.controls.songUrl.errors.required">Please enter song url</span>
                    </div>
                </div>
            </div>

            <div class="grid-item">
                <div class="form-element text-center mb-25">
                    <input type="text" class="w-72" name="imageUrl" formControlName="imageUrl" placeholder="Enter image url">
                    <div *ngIf="songForm.controls.imageUrl.invalid && (songForm.controls.imageUrl.dirty || songForm.controls.imageUrl.touched)"> 
                        <span class="errorMsg" *ngIf="songForm.controls.imageUrl.errors.required">Please enter image url</span>
                    </div>
                </div>
            </div>

            <div class="grid-item">
                <div class="form-element text-center">
                    <button *ngIf="!dataUpdateFlag" type="button" [disabled]="!songForm.valid" (click)="addSong()" class="saveBtn w-80 pointer">Save</button>
                    <button *ngIf="dataUpdateFlag" type="button" [disabled]="!songForm.valid" (click)="updateSong()" class="saveBtn w-80 pointer">Update</button>
                    
                </div>
            </div>
        </form>
    </div>

</div>
</div>